.App {
  /* text-align: center; */
  margin-left: 5%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-container{
  display: flex;
  flex-direction: row;
  margin: 5%;

}

.textinputlist {
  border: 1px solid;
  border-radius: 5px;
  border-color: #c7c7c7;
  height: 25px;
}

.first-p{
  width: 50%;
}

.second-p{margin: 10px;
}
.addbtn{
  width: 39px;
  font-size: 12px;
  margin-left: 20px;
  color: white;
  height: 24px;
  background-color: rgb(35, 99, 179);
  border: 1px solid;
  border-radius: 5px;
}
.addbtn2{
  width: 80px;
  font-size: 12px;
  margin-left: 20px;
  color: white;
  height: 30px;
  background-color: rgb(35, 99, 179);
  border: 1px solid;
  border-radius: 5px;}

.table{
  width: 45%;
  margin-top: 1%;
}
.tblbody{
  float: left;
}
.tabletd{
  text-align: center;
}

#editicon{
  color: blue;
}

#clearicon{
  color: red;
}

.react-date-picker__wrapper{
  display: flex;
    margin-left: 16px;
    flex-grow: 1;
    height: 26px;
    border-radius: 5px;
    flex-shrink: 0;
    border: thin solid #c7c7c7;
}
.react-date-picker__button svg{
  height: 15px;
}
.react-date-picker__calendar{
  width: 246px !important;
}
.p-datatable-tbody> tr{
  cursor: pointer;
}